body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8c8ed;
  }
  
  .cart-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #f5f5f6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0.5, 0.5);
  }
  
  h1 {
    text-align: center;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #0e0d0d;
  }
  
  .cart-item p {
    margin: 0;
  }
  
  .cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #240955;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e03e1a;
  }
  